footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 50px;
}
#bottom {
  text-align: center;
}
#foot {
  display: flex;
  align-items: center;
  justify-content: center;
}
#foot li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
